body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
  background-image: url('img_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.button {
  background-color: #78a6f5;
  border-radius: 50px;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 20px;
  cursor: pointer;
}

.head {
    color: #ffffff;
    font-family: 'Brush Script MT', cursive;

    font-size: 100px;
    margin: auto;
    padding: 10px;
}

form {
    margin: 20px 0;
}

.center {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.indented_button {
  border: none;
  color: grey;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px 5px;
  cursor: pointer;
}

.img {
    align:center;
}

.b {
    font-family: Arial, sans-serif;
    text-align: center;
}

.bottom {
    background-color: #ffffff;
    padding; 100px 100px;
}

.list-container {
    background-color: #ffffff;
    display: inline-block;
    padding: 10px;
}

.highlight {
    color: red;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.bgify {
    background-color: #ffffff;
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
}

.bgify_small {
    background-color: #ffffff;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
}

/* MS Products */

.msword {
    background-color: #154eb5;
    border-radius: 50px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
}