body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
  background-image: url('img_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.button {
  background-color: #78a6f5;
  border-radius: 50px;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 20px;
  cursor: pointer;
}

.head {
    color: #333;
    font-family: 'Brush Script MT', cursive;
    font-size: 100px;
    margin: 5px 5px;
}

form {
    margin: 20px 0;
}

.indented_button {
  border: none;
  color: grey;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px 5px;
  cursor: pointer;
}

.img {
    align:center;
}

.b {
    font-family: Arial, sans-serif;
    text-align: center;
}

.bgify {
    background-color: #ffffff;
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
}

.bgify_small {
    background-color: #ffffff;
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
}