body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
  background-image: url('img_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.button {
  background-color: #f44336;
  border-radius: 50px;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 20px;
  cursor: pointer;
}

h1 {
    color: #333;
    background-color: #000;
}

form {
    margin: 20px 0;
}

.indented_button {
  border: none;
  color: grey;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px 5px;
  cursor: pointer;
}

.img {
    align:center;
}

b {
    font-family: Arial, sans-serif;
    text-align: center;
}